/*

!.gitignore
!README.md

!.bash_profile
!.bashrc
!.bash_aliases
!.dir_colors
!.profile
!.vimrc
!.tmux.conf
!.Xresources

!scripts/

!.vim/
.vim/*
!.vim/colors/
!.vim/syntax/
!.vim/pack/
.vim/pack/*
!.vim/pack/install-pkg.sh
!.vim/after/
.vim/after/*
!.vim/after/ftplugin/

!.elinks/
.elinks/*
!.elinks/elinks.conf

!.config/
.config/*
!.config/compton.conf

!.config/cmus/
.config/cmus/*
!.config/cmus/dark.theme
!.config/cmus/config.backup
!.config/cmus/update-lib.sh

!.config/dunst/
.config/dunst/*
!.config/dunst/dunstrc

!.config/mpv/
.config/mpv/*
!.config/mpv/input.conf
!.config/mpv/mpv.conf

!.config/i3/

!.config/i3blocks/

!.config/vifm/
.config/vifm/*
!.config/vifm/vifmrc
!.config/vifm/colors/
!.config/vifm/scripts/

!.config/ranger/
.config/ranger/*
!.config/ranger/rc.conf
!.config/ranger/rifle.conf
!.config/ranger/colorschemes/
.config/ranger/colorschemes/__pycache__/
.config/ranger/colorschemes/__init__.py
