/*

!.gitignore
!README.md

!.bashrc
!.bash_aliases
!.dir_colors
!.profile
!.vimrc
!.Xresources

!.crawlrc

!.scripts/

!.vim/
.vim/*
!.vim/colors/
!.vim/syntax/

!.elinks/
.elinks/*
!.elinks/elinks.conf

!.config/
.config/*
!.config/compton.conf

!.config/cataclysm-dda/
.config/cataclysm-dda/*
!.config/cataclysm-dda/keybindings.json
!.config/cataclysm-dda/auto_pickup.json

!.config/cmus/
.config/cmus/*
!.config/cmus/autosave.backup
!.config/cmus/flip.theme
!.config/cmus/config.backup
!.config/cmus/update-lib

!.config/Code\ -\ OSS/
.config/Code\ -\ OSS/*
!.config/Code\ -\ OSS/User/
.config/Code\ -\ OSS/User/*
!.config/Code\ -\ OSS/User/*.json

!.config/mpv/

!.config/i3/

!.config/i3blocks/

!.config/vifm/
.config/vifm/*
!.config/vifm/vifmrc
!.config/vifm/colors/
.config/vifm/colors/*
!.config/vifm/colors/flip_Ai3.vifm

!.config/ranger/
.config/ranger/*
!.config/ranger/rc.conf
!.config/ranger/rifle.conf
!.config/ranger/colorschemes/
.config/ranger/colorschemes/*
!.config/ranger/colorschemes/marine-ranger-Ai3.py
