/*

!.gitignore
!README.md

!.bash_profile
!.bashrc
!.bash_aliases
!.dir_colors
!.profile
!.Xresources
!.xinitrc
!.zshrc

!scripts/

!.vim/
.vim/*
!.vim/vimrc
!.vim/colors/
!.vim/syntax/
!.vim/pack/
.vim/pack/*
!.vim/pack/install-pkg.sh
!.vim/after/
.vim/after/*
!.vim/after/ftplugin/

!.config/
.config/*
!.config/user-dirs.dirs

!.config/cmus/
.config/cmus/*
!.config/cmus/dark.theme
!.config/cmus/config.backup
!.config/cmus/update-lib.sh

!.config/dunst/
.config/dunst/*
!.config/dunst/dunstrc

!.config/elinks/
.config/elinks/*
!.config/elinks/elinks.conf

!.config/mpv/
.config/mpv/*
!.config/mpv/input.conf
!.config/mpv/mpv.conf

!.config/picom/
.config/picom/*
!.config/picom/picom.conf

!.config/tmux/
.config/tmux/*
!.config/tmux/tmux.conf

!.config/vifm/
.config/vifm/*
!.config/vifm/vifmrc
!.config/vifm/colors/
!.config/vifm/scripts/

!.config/zathura/
.config/zathura/*
!.config/zathura/zathurarc

