*background:                #0e0e0e
*foreground:                #d4d4d4
*fading:                    10
*fadeColor:                 #000010
*cursorColor:               #87b2e0
*pointerColorBackground:    #2c2b2c
*pointerColorForeground:    #1667a0

! black
*.color0:       #263238
*.color8:       #37474f

! red
*.color1:       #FB7C79
*.color9:       #e53935

! green
*.color2:       #8ae234
*.color10:      #5e9a23

! yellow
*.color3:       #fce94f
*.color11:      #f57900

! blue
*.color4:       #87b2e0
*.color12:      #5c84b6

! magenta
*.color5:       #c195bc
*.color13:      #836188

! cyan
*.color6:       #5be0df
*.color14:      #378686

! white
*.color7:       #78909c
*.color15:      #f5f5f5

Xcursor.theme:              xcursor-breeze
Xcursor.size:               0

Xft.dpi:                    96
Xft.antialias:              true
Xft.hinting:                true
Xft.rgba:                   rgb
Xft.autohint:               false
Xft.hintstyle:              hintslight
Xft.lcdfilter:              lcddefault

! Source Code Pro
URxvt*font:                 xft:source code pro:medium:pixelsize=15,9x15
URxvt*boldFont:             xft:source code pro:bold:pixelsize=15
URxvt*italicFont:           xft:source code pro:italic:pixelsize=15
URxvt*boldItalicFont:       xft:source code pro:bold:italic:pixelsize=15

! Inconsolata
!URxvt*font:                 xft:inconsolata:size=12,9x15
!URxvt*font:                 xft:inconsolata:bold:size=12,9x15

URxvt*geometry:             120x40
URxvt*internalBorder:       10
URxvt.depth:                32
! URxvt.background:           [85]#000000
URxvt*background:           #191b1c
URxvt*foreground:           #b0bec5
URxvt.intensityStyles:      false
URxvt*scrollBar:            false
URxvt*cursorBlink:          true
URxvt*letterSpace:          -1
URxvt*lineSpace:            0
URxvt*saveLines:            4000

XTerm*background:           #0e0e0e
XTerm*foreground:           #d4d4d4
XTerm*pointerColor:         #007acc
XTerm*faceName:             Fixed
XTerm*faceSize:             11
XTerm*reverseVideo:         on
XTerm*selectToClipboard:    true

! Normal copy-paste keybindings without perls
URxvt.iso14755:                     false
URxvt.keysym.Shift-Control-V:       eval:paste_clipboard
URxvt.keysym.Shift-Control-C:       eval:selection_to_clipboard
! Xterm escape codes, word by word movement
URxvt.keysym.Control-Left:          \033[1;5D
URxvt.keysym.Shift-Control-Left:    \033[1;6D
URxvt.keysym.Control-Right:         \033[1;5C
URxvt.keysym.Shift-Control-Right:   \033[1;6C
URxvt.keysym.Control-Up:            \033[1;5A
URxvt.keysym.Shift-Control-Up:      \033[1;6A
URxvt.keysym.Control-Down:          \033[1;5B
URxvt.keysym.Shift-Control-Down:    \033[1;6B

!=====! ROFI !=====!
! rofi -dump-Xresources to see all available options

!                       1 2 3
! Location on screen    8 0 4
!                       7 6 5
rofi.location:          2
! rofi.yoffset:           0
! rofi.xoffset:           0
! Monitor ID to show on
! rofi.m:                 -5
! 0 = Pages; 1 = Continuous
rofi.scroll-method:     1

rofi.width:             30
rofi.lines:             8
rofi.font:              Bitstream Vera Sans 12
! Border width
rofi.bw:                0
! Row height (in chars)
rofi.eh:                1
rofi.padding:           20
rofi.show-icons:        true
! rofi.icon-theme:        Flat-Remix-Blue-Dark

rofi.color-enabled:     true
!                       bg       border   separator
rofi.color-window:      #1e1e1e, #404040, #a8a8a8
!                       bg       fg       bg-alt   hl-bg    hl-fg
rofi.color-normal:      #1e1e1e, #d4d4d4, #404040, #007acc, #f8f8f8
rofi.color-active:      #a8a8a8, #252526, #d4d4d4, #f8f8f8, #007acc
rofi.color-urgent:      #f7cf79, #252526, #e0b33f, #f8f8f8, #cd9731
