*background:                #1e1e1e
*foreground:                #d4d4d4
*fading:                    10
*fadeColor:                 #000010
*cursorColor:               #007acc
*pointerColorBackground:    #2c2b2c
*pointerColorForeground:    #1667a0

! Black
*color0:    #252526
*color8:    #505050

! Red
*color1:    #f44747
*color9:    #d07563

! Green
*color2:    #1c903d
*color10:   #25c032

! Yellow
*color3:    #cd9731
*color11:   #fdd561

! Blue
*color4:    #007acc
*color12:   #5fa3dc

! Magenta
*color5:    #8264cc
*color13:   #c586c0

! Cyan
*color6:    #09dbde
*color14:   #f5670e

! White
*color7:    #a8a8a8
*color15:   #f8f8ff

Xft.dpi:        96
Xft.antialias:  true
Xft.hinting:    true
Xft.rgba:       rgb
Xft.autohint:   false
Xft.hintstyle:  hintslight
Xft.lcdfilter:  lcddefault

XTerm*background:           #1e1e1e
XTerm*foreground:           #d4d4d4
XTerm*pointerColor:         #007acc
XTerm*faceName:             Fixed
XTerm*faceSize:             11
XTerm*reverseVideo:         on
XTerm*selectToClipboard:    true

Xcursor.theme:  xcursor-breeze
Xcursor.size:   0

URxvt*font: 9x15,xft:Inconsolata:size=10,xft:TerminessTTFNerdFontMono:size=10
URxvt.depth:                32
URxvt.background:           [85]#000000
URxvt*geometry:             120x40
URxvt*scrollBar:            false
URxvt*mouseWheelScrollPage: true
URxvt*cursorBlink:          true
URxvt*background:           black
URxvt*foreground:           grey
URxvt*saveLines:            4000
URxvt*letterSpace:          0
URxvt*lineSpace:            0
URxvt*internalBorder:       10

! Normal copy-paste keybindings without perls
URxvt.iso14755:                     false
URxvt.keysym.Shift-Control-V:       eval:paste_clipboard
URxvt.keysym.Shift-Control-C:       eval:selection_to_clipboard
! Xterm escape codes, word by word movement
URxvt.keysym.Control-Left:          \033[1;5D
URxvt.keysym.Shift-Control-Left:    \033[1;6D
URxvt.keysym.Control-Right:         \033[1;5C
URxvt.keysym.Shift-Control-Right:   \033[1;6C
URxvt.keysym.Control-Up:            \033[1;5A
URxvt.keysym.Shift-Control-Up:      \033[1;6A
URxvt.keysym.Control-Down:          \033[1;5B
URxvt.keysym.Shift-Control-Down:    \033[1;6B

!=====! ROFI !=====!
! rofi -dump-Xresources to see all available options

!                       1 2 3
! Location on screen    8 0 4
!                       7 6 5
rofi.location:          2
! rofi.yoffset:         0
! rofi.xoffset:         0
! Monitor ID to show on
! rofi.m:               -5
! 0 = Pages; 1 = Continuous
rofi.scroll-method:     1

rofi.width:             30
rofi.lines:             8
rofi.font:              System San Francisco Display 12
! Border width
rofi.bw:                0
! Row height (in chars)
rofi.eh:                1
rofi.padding:           20
rofi.show-icons:        true
! rofi.icon-theme:      Flat-Remix-Blue-Dark

rofi.color-enabled:     true
!                       bg       border   separator
rofi.color-window:      #1e1e1e, #404040, #a8a8a8
!                       bg       fg       bg-alt   hl-bg    hl-fg
rofi.color-normal:      #1e1e1e, #d4d4d4, #404040, #007acc, #f8f8f8
rofi.color-active:      #a8a8a8, #252526, #d4d4d4, #f8f8f8, #007acc
rofi.color-urgent:      #f7cf79, #252526, #e0b33f, #f8f8f8, #cd9731
